Source: amarok
Section: kde
Priority: optional
Maintainer: Modestas Vainius <modestas@vainius.eu>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50), cmake (>= 2.6.2), quilt (>= 0.4.6-7~), pkg-kde-tools (>= 0.2),
 libtag1-dev (>= 1.5), libtag-extras-dev,
 kdelibs5-dev (>= 4:4.2.0), libsoprano-dev (>= 2.1.67),
 libstreamanalyzer-dev (>= 0.6.3), libstrigiqtdbusclient-dev (>= 0.6.3),
 libnjb-dev, libifp-dev, libmtp-dev (>= 0.3.0),
 libglib2.0-dev, libgpod-nogtk-dev (>= 0.7.0),
 libmysqlclient-dev (>= 5.1.26rc), libwrap0-dev,
 libqt4-opengl-dev, libcurl4-gnutls-dev, libxml2-dev, libloudmouth1-dev,
 libgtk2.0-dev, kdemultimedia-dev (>= 4:4.2.0), libqca2-dev
Build-Depends-Indep: mysql-server-5.1 (>= 5.1.26rc)
Standards-Version: 3.8.1
Homepage: http://amarok.kde.org
Vcs-Git: git://git.debian.org/git/users/modax-guest/amarok.git
Vcs-Browser: http://git.debian.org/?p=users/modax-guest/amarok.git

Package: amarok
Architecture: any
Depends:  amarok-common (= ${source:Version}), ${shlibs:Depends}
Recommends: kdemultimedia-kio-plugins (>= 4:4.2.0)
Suggests: libqt4-sql-sqlite, libqt4-sql-mysql, libqt4-sql-psql
Conflicts: amarok-engine-xine (<< 2), amarok-engine-yauap (<< 2)
Description: easy to use media player based on the KDE 4 technology platform
 Amarok is the media player with an intuitive interface. Amarok makes playing
 the music you love easier than ever before - and looks good doing it.
 .
 This package provides Amarok series 2 media player which is based on the KDE 4
 technology platform. Features include:
   - new fascinating look.
   - innovative user interface.
   - almighty Internet service framework.
   - powerful scripting.
   - dynamic and new biased playlists.
   - mobile devices support.

Package: amarok-common
Architecture: all
Recommends: amarok (>= ${source:Version})
Description: architecture independent files for Amarok
 This package contains architecture independent files needed for Amarok to run
 properly. Therefore, unless you have 'amarok' package of the same version
 installed, you will hardly find this package useful.

Package: amarok-dbg
Priority: extra
Architecture: any
Depends: amarok (= ${binary:Version})
Recommends: kdelibs5-dbg
Description: debugging symbols for Amarok
 This package provides debugging symbols for all binary packages built from
 amarok source package. It's highly recommended to have this package installed
 before reporting any Amarok crashes to either Amarok developers or Debian
 package maintainers.
