#!/usr/bin/make -f

# TopGit support
ifneq (,$(shell which tg))
TG_BRANCHES := $(filter-out debian/mysqle_link_to_amarok_executable_feature debian/aboutdata_add_debian_version_feature,$(shell tg summary -t))
QUILT_PATCH_DIR := debian/patches
include /usr/share/topgit/tg2quilt.mk
endif

DEB_KDE_LINK_WITH_AS_NEEDED := yes

include /usr/share/pkg-kde-tools/makefiles/1/debhelper/kde.mk

override_dh_bugfiles:
	dh_bugfiles -A

override_dh_install:
	dh_install
	# Copy English errmsg.sys from mysql-server package
	if [ -d debian/amarok-common ]; then \
	    cp -a /usr/share/mysql/english/errmsg.sys debian/amarok-common/usr/share/kde4/apps/amarok/mysqle/; \
	fi

override_dh_makeshlibs:
	dh_makeshlibs "-Xusr/lib/kde4/*"

%:
	dh --with quilt $@

.PHONY: override_dh_auto_test
